<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.agenda.smart.restaurant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/restaurant_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/restaurant_icon"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".views.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.RegisterationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ItemsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ItemDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.OrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.TablesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.CategoriesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.OrderDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ReportsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.CategoriesReportsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.TaxesReportsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ReportsOrderDailyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ReportsOrderIntervalActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.EarningReportIntervalActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ReportsEmployesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ReportsClientActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.CashierActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.CashCloseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.CashCloseDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>